<div class="ui-g">
  <div class="ui-g-7">
    <p-panel header="{{document?.title}}" [toggleable]="true" [collapsed]="false">
      <p>
        Document utworzony przez: <b>{{document?.createdBy}}</b>
      </p>
      <p>
        Opis dokumentu: {{document?.description}}
      </p>
    </p-panel>
  </div>
  <div class="ui-g-5">
    <!--<p-fileUpload mode="advanced" (onUpload)="onUpload($event)" ></p-fileUpload>-->
    <!--<p-fileUpload name="myfile[]" url="http://localhost:8080/document/upload/"></p-fileUpload>-->
    <p-fileUpload #uploadComponent name="myfile[]" customUpload="true" (uploadHandler)="onUpload($event)"></p-fileUpload>

    <!--<app-file-upload [documentId]="document?.id">-->
    <!--</app-file-upload>-->

  </div>
</div>
