<div class="ui-g">
  <div class="ui-g-7">
    <p-panel header="{{project?.name}}" [toggleable]="true" [collapsed]="true">
      <p>
        Projekt utworzony przez: <b>{{project?.projectMenager.name}}</b>
      </p>
      <p>
        <b>Opis dokumentu: </b>{{project?.description}}
      </p>
    </p-panel>

    <app-comments [messages]="messages" (addCommentEmitter)="addComment($event)" ></app-comments>
  </div>

  <div class="ui-g-5">
    <div class="d-inline w-100"><span class="h5">Kierownikiem projektu jest {{project?.projectMenager.name}}</span>
      <div id="tool-panel" class="float-right mr-2" *ngIf="isManager">
        <button pButton (click)="projectUpdateDialog.show()" icon="fa-pencil"></button>
        <app-modification-panel #projectUpdateDialog
                                (accept)="acceptProjectDialog($event)"
                                [acceptButtonText]="'Zapisz'"
                                [titleText]="'Tytuł projektu:'"
                                [descriptionText]="'Opis projektu:'"
                                [titleValue]="project?.name"
                                [descriptionValue]="project?.description"
                                [objectId]="project?.id"></app-modification-panel>
        <button pButton icon="fa-trash" (click)="remove(project?.id)"></button>
      </div>
    </div>
    <p-tabView>
      <p-tabPanel header="Zadania">
      </p-tabPanel>

      <p-tabPanel header="Dokumenty" [selected]="true">
        <li class="list-group-item" *ngFor="let document of project?.documents">
          <a href="/document-details/{{document.id}}">{{document.name}}</a>
        </li>
        <button class="mt-2" type="text" (click)="documentDialog.show()" pButton icon="fa-file"
                label="Dodaj dokument"></button>
        <app-modification-panel #documentDialog
                                (accept)="acceptDocumentDialog($event)"
                                [acceptButtonText]="'Dodaj'"
                                [titleText]="'Tytuł dokumentu:'"
                                [descriptionText]="'Opis dokumentu:'"
        ></app-modification-panel>
      </p-tabPanel>

      <p-tabPanel header="Użytkownicy">
        <li class="list-group-item" *ngFor="let user of project?.users">
          <div class="w-100"> {{user.name}}
            <app-mail [mail]="user.mail" class="float-right mr-1"></app-mail>
            <div *ngIf="isManager" style="font-size: 25px" (click)="removeUser(user.id)" class="fa fa-user-times text-info float-right mr-2" aria-hidden="true"></div>
          </div>
        </li>

        <button class="mt-2" type="text" (click)="showSB()" pButton icon="fa-user-plus" *ngIf="isManager"
                label="Dodaj użytkowników"></button>
      </p-tabPanel>
    </p-tabView>
  </div>

  <p-sidebar [(visible)]="displaySidebar">
    <span class="h5">Proszę wybrać użytkowników</span>
    <div class="mt-2 mb-2">
      <li class="list-group-item" *ngFor="let user of notAssignedUsers">
        <p-checkbox name="groupname" value="{{user.id}}" label="{{user.name}}" [(ngModel)]="selectedUsers"></p-checkbox>
      </li>
    </div>

    <div class="d-inline-block pt-2">
      <button class="ui-button-success"
              type="button" pButton type="button"
              icon="fa-check" iconPos="left"
              label="Ok" (click)="acceptSB()"></button>
      <button class="ui-button-danger" type="button"
              pButton type="button" icon="fa-times"
              iconPos="left" label="Cofnij" (click)="closeSB()"></button>
    </div>
  </p-sidebar>
</div>



