<nav style="" class="nav nav-pills navbar-light bg-light">
  <a routerLink="publications" routerLinkActive="active active-link-my" class="nav-item nav-link">Publikacje</a>
  <a routerLink="projects" routerLinkActive="active active-link-my" class="nav-item nav-link">Projekty</a>
  <a routerLink="tasks" routerLinkActive="active active-link-my" class="nav-item nav-link">Zadania</a>
  <a routerLink="files" routerLinkActive="active active-link-my" class="nav-item nav-link float-right">Pliki</a>

  <!--<div style="float:right"><a href="" class="nav-link">log in</a></div>-->
</nav>




<div class="main-frame"  >
  <router-outlet>

  </router-outlet>
</div>

