<nav style="" class="nav nav-pills navbar-light bg-light">
  <a routerLink="publications" routerLinkActive="active active-link-my" class="nav-item nav-link">Publikacje</a>
  <a routerLink="projects" routerLinkActive="active active-link-my" class="nav-item nav-link">Projekty</a>
  <a routerLink="tasks" routerLinkActive="active active-link-my" class="nav-item nav-link">Zadania</a>
  <a routerLink="files" routerLinkActive="active active-link-my" class="nav-item nav-link float-right">Dokumenty</a>

  <app-login></app-login>
</nav>




<div class="main-frame"  >
  <router-outlet>

  </router-outlet>
</div>

